<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
   <link href="stylesheets/<%= user.theme %>" type="text/css" id="stylesheet" rel="stylesheet">
</head>
<body>
<%- include partials/header %>
<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>Our Policies</h3>

<br>
<br>

<p class="discription">
This application and its owner takes a proactive approach to protect the privacy of its users.
<br><br>This application is provided “as is,” with all faults, and Swing express no representations or warranties, of any kind related to this application or the materials contained on this application. Also, nothing contained on this application shall be interpreted as advising you.

</p>

</div>

          
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>