<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
        <link href="stylesheets/<%= user.theme %>" type="text/css" id="stylesheet" rel="stylesheet">
</head>
<body>
<%- include partials/header %>
<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>Terms and Conditions</h3>


 <br> 
<p class="discription">
Swing is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.<br><br>
These Terms will be governed by and interpreted in accordance with the laws of the State of Ontario, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Ontario for the resolution of any disputes.
</p>

</div>

          
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>